body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

 /*   NAVBARRRR  */
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 10px 0;
}

.navbar {
    background: #1f4c5f;
    color: #fff;
    padding: .2rem 0;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.navbar-toggle {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: 0.3s;
}

.navbar-links a:hover{
    color: #333;
    background-color: #1dbb87;
    border-radius: 5px;
}

.navbar-links a:active{
    background-color: #077c5b;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar-links a {
        padding: 10px;
    }

    .navbar-links.active {
        display: flex;
    }
}